<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzx.mapper.DeliverystatusMapper">
  <resultMap id="BaseResultMap" type="com.hzx.pojo.Deliverystatus">
    <id column="ordersId" jdbcType="CHAR" property="ordersid" />
    <id column="postmanId" jdbcType="INTEGER" property="postmanid" />
    <result column="deliver_status" jdbcType="TINYINT" property="deliverStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ordersId, postmanId, deliver_status
  </sql>
  <select id="selectByExample" parameterType="com.hzx.pojo.DeliverystatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deliverystatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.hzx.pojo.DeliverystatusKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deliverystatus
    where ordersId = #{ordersid,jdbcType=CHAR}
      and postmanId = #{postmanid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hzx.pojo.DeliverystatusKey">
    delete from deliverystatus
    where ordersId = #{ordersid,jdbcType=CHAR}
      and postmanId = #{postmanid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzx.pojo.DeliverystatusExample">
    delete from deliverystatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzx.pojo.Deliverystatus">
    insert into deliverystatus (ordersId, postmanId, deliver_status
      )
    values (#{ordersid,jdbcType=CHAR}, #{postmanid,jdbcType=INTEGER}, #{deliverStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzx.pojo.Deliverystatus">
    insert into deliverystatus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordersid != null">
        ordersId,
      </if>
      <if test="postmanid != null">
        postmanId,
      </if>
      <if test="deliverStatus != null">
        deliver_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordersid != null">
        #{ordersid,jdbcType=CHAR},
      </if>
      <if test="postmanid != null">
        #{postmanid,jdbcType=INTEGER},
      </if>
      <if test="deliverStatus != null">
        #{deliverStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzx.pojo.DeliverystatusExample" resultType="java.lang.Integer">
    select count(*) from deliverystatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update deliverystatus
    <set>
      <if test="record.ordersid != null">
        ordersId = #{record.ordersid,jdbcType=CHAR},
      </if>
      <if test="record.postmanid != null">
        postmanId = #{record.postmanid,jdbcType=INTEGER},
      </if>
      <if test="record.deliverStatus != null">
        deliver_status = #{record.deliverStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update deliverystatus
    set ordersId = #{record.ordersid,jdbcType=CHAR},
      postmanId = #{record.postmanid,jdbcType=INTEGER},
      deliver_status = #{record.deliverStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzx.pojo.Deliverystatus">
    update deliverystatus
    <set>
      <if test="deliverStatus != null">
        deliver_status = #{deliverStatus,jdbcType=TINYINT},
      </if>
    </set>
    where ordersId = #{ordersid,jdbcType=CHAR}
      and postmanId = #{postmanid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzx.pojo.Deliverystatus">
    update deliverystatus
    set deliver_status = #{deliverStatus,jdbcType=TINYINT}
    where ordersId = #{ordersid,jdbcType=CHAR}
      and postmanId = #{postmanid,jdbcType=INTEGER}
  </update>
</mapper>